* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: calc(100vh);
    padding: 20px;
    background-color: blue;
}